# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# setuptools_scm
localtileserver/_version.py

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
**/.DS_Store

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Testing
.pytest_cache/
tests/generated/

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb

# Node
**/node_modules/

# GDAL
gdalwmscache/
*.aux.xml

# Misc
bin/
electron/
notebooks/
