click
flask>=2.0.0
Flask-Caching
flask-cors
flask-restx>=0.5.0
sentry-sdk[flask]
large-image[memcached,rasterio]>=1.22.2
requests
rio-cogeo
server-thread
scooby
pytest
pytest-cov
matplotlib
gunicorn
cmocean
werkzeug
