click
flask>=2.0.0
Flask-Caching
flask-restx>=0.5.0
sentry-sdk[flask]
--find-links https://girder.github.io/large_image_wheels GDAL
large-image[memcached]>=1.10
large-image-source-gdal>=1.10
large-image-source-pil>=1.10
requests
scooby
pytest
pytest-cov
matplotlib
gunicorn
cmocean
werkzeug<2.1.0
