click
flask>=2.0.0,<4
Flask-Caching
flask-cors
flask-restx>=0.5.0
gunicorn
matplotlib
pytest
pytest-cov
python-memcached
rasterio
requests
rio-cogeo
rio-tiler
scooby
sentry-sdk[flask]
server-thread
werkzeug
