html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#wrapper {
    padding: 0 0;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    min-height: 100%;
}

.navbar {
    margin-top: -50px;
    height: 50px;
    z-index: 100;
    background-color: #DCDCDC;
}

.offcanvas-header {
    display: none;
}

@media (max-width: 767px) {
    .offcanvas-header {
        display: block;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #DCDCDC;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}

p {
    margin: 0;
    padding: 0 0 1em 0;
}
