{% extends "tileserver/base.html" %}

{% block content %}

<section>
  <center>
    <h1>Sample Data</h1>
    <p>The following are a few sample datasets:</p>
    <div>
      <ul>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_landsat_salt_lake|urlencode }}&band=4&min=&max=130&palette=cmo.tarn">Salt Lake Landsat</a>
        </li>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_sf_bay|urlencode }}">San Francisco Bay</a>
        </li>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_pine_gulch|urlencode }}">Pine Gulch Fire</a>
        </li>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_dem|urlencode }}&band=1&min=-5000&max=5000&palette=cmo.topo">Elevation</a>
        </li>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_bluemarble|urlencode }}">Blue Marble</a>
        </li>
        <li>
          <a href="{{ url_for('tileserver.index')}}?filename={{ filename_virtualearth|urlencode }}">Virtual Earth</a>
        </li>
      </ul>


    </div>
  </center>
</section>

{% endblock %}
