name: Tests
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      # Install everything else
      - name: Install other dependencies
        run: |
          pip install -r requirements_jupyter.txt
      - name: Install localtileserver
        run: pip install -e .
      - name: Scooby Report
        run: python -c "import localtileserver;print(localtileserver.Report())"
      - name: Run Tests
        run: |
          pytest -v --cov=localtileserver
          coverage xml -o coverage.xml
      # - name: Run Doc Tests
      #   run: |
      #     make doctest
      # - name: Stash coverage
      #   uses: actions/upload-artifact@v5.0.0
      #   with:
      #     name: coverage.xml
      #     path: coverage.xml
      - uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
          verbose: true
